$blue:    #005be4;
$indigo:  #6610f2;
$darkblue: #090754;
$purple:  #6f42c1;
$darkpurple: #33024a;
$pink:    #d63384;
$red:     #8e000e;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$logo-primary: #183520;
$logo-secondary: #f0a64e;
$logo-teri: #131211;

@mixin gradient-x($start-color: $gray-700, $end-color: $gray-800, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
}

@mixin gradient-y($start-color: $gray-700, $end-color: $gray-800, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
}

@mixin gradient-directional($start-color: $gray-700, $end-color: $gray-800, $deg: 45deg) {
  background-image: linear-gradient($deg, $start-color, $end-color);
}

@mixin gradient-x-three-colors($start-color: $logo-teri, $mid-color: $logo-primary, $color-stop: 50%, $end-color: $logo-teri) {
  background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
}

@mixin gradient-y-three-colors($start-color: $logo-teri, $mid-color: $logo-primary, $color-stop: 50%, $end-color: $logo-secondary) {
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
}

@mixin solid-color($start-color: $logo-primary, $end-color: $logo-primary, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
}

#body_gradient {
  @include gradient-x-three-colors;
}

#call_to_action {
  background-color: #000;
  color: $white;
}

#link {
  text-decoration: none;
}

#logo {
  width: 30%;
  height: 30%;
}

#buisness_name {
  font-size: large;
}

#equiptment {
  width: 35%;
  height: 35%;
}

#socialicons {
  width: 4%;
  height: 4%;
}